
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared.styles */
.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    justify-content: space-between;
    align-items: center;
    
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-item{
    /* text-decoration: none; */
    list-style: none;
    margin-right: 30px;

}
.nav-links{
    text-decoration: none;
    font-weight: 500;
    
}
.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related style */
.banner-content{
    margin: 0 auto;
    max-width: 850px;
    text-align: center;
    margin-bottom: 50px;
}
.banner-tittle{
    font-weight: 700;
    font-size: 4em;
}
.banner-image{
    width: 100%;
}

/* team and fature */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 24px;
}
/* .feature-title{ */
    /* font-size: 2.8rem; */

    .section-title{
        font-size: 2.8rem;
    }
    #quick-list{
        font-weight: 500;
        font-weight: 700;
    }
    .fact-card{
        border: 1px solid #FF900E ;
        width: 240px;
        height: 240px;
        border-radius: 8px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .fact-number{
        font-size: 2.8rem;
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .fact-name{
        font-size: 1.25rem;
        font-weight: 600;
        margin-top: 10px;
    }
    .facts-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .fact-description{
        max-width: 540px;
    }

    .sponsor-info{
        max-width: 540px;
        margin: 50px auto;
        text-align: center;
    }
    .sponsor-company{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .sponsor-company{
        filter: grayscale(100%);
    }
/* responsive haeder */
@media screen  and (max-width:576px) {
    .navbar , .nav-links, .teams{
        flex-direction: column;
    }

    .team-img-container, .facts-container, .sponsor-company{
        grid-template-columns:  1fr;
    }
    .facts-container, .sponsor-company{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
        margin-left: 20px;
    }
    
}
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
        
    }
    .our-features{
        margin-left: 50px auto;
    }
    .sponsor-company{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
    
}
